<h1>New User Registration</h1>

<div class="form">
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
<legend>Create a Sellies ePOS Account</legend>
<%= form_for(@user) do |f| %>
   <div class="field">
     <%= f.label :first_name %><br />
     <%= f.text_field :first_name %>
   </div>

   <div class="field">
     <%= f.label :surname %><br />
     <%= f.text_field :surname %>
   </div>

   <div class="field">
     <%= f.label :email %><br />
     <%= f.text_field :email %>
   </div>

   <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
   </div>

   <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
   </div>

   <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
   </div>

   <%= submit_tag "Submit" %>
<% end %>
</fieldset>

</div>
