<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arv_number %>
    <%= f.text_field :arv_number %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select(:gender, options_for_select(['Male', 'Female'])) %>
  </div>
  <div class="field">
    <%= f.label :education %>
    <%= f.select(:education, options_for_select(['Primary', 'Secondary', 'Tertiary'])) %>
  </div>
  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :marital_status %>
     <%= f.select(:marital_status, options_for_select(['Single', 'Married', 'Divorced', 'Widowed'])) %>
  </div>
  <div class="field">
    <%= f.label :literacy_level %>
    <%= f.select(:literacy_level, options_for_select(['able to read', 'cannot read'])) %>
  </div>
  <div class="field">
    <label>Agreed to be involved in study</label>
    <%= f.radio_button :consent, true %>
    <label for="client_consent_true" >Yes</label>
    <%= f.radio_button :consent, false %>
    <label for="client_consent_false" >No</label>
  </div>
  <div class="actions">
    <%= f.submit :class => 'more_button' %>
  </div>
<% end %>
