<h1>Listing clients</h1>

<table style="width:99%">
  <tr style="background:#fff;">
    <td style="font-weight:bold;">Arv number</td>
    <td style="font-weight:bold;">Date of Birth</td>
    <td style="font-weight:bold;">Gender</td>
    <td style="font-weight:bold;">Education</td>
    <td style="font-weight:bold;">Occupation</td>
    <td style="font-weight:bold;">Marital status</td>
    <td style="font-weight:bold;">Literacy level</td>
    <td style="font-weight:bold;">Phone</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% @clients.each do |client| %>
  <tr>
    <td><%= client.arv_number %></td>
    <td><%= client.dob.to_date.to_s(:long) %></td>
    <td><%= client.gender %></td>
    <td><%= client.education %></td>
    <td><%= client.occupation %></td>
    <td><%= client.marital_status %></td>
    <td><%= client.literacy_level %></td>
    <td><%= client.phone %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr style="background:#fff;"><td style="background:#fff;" colspan="11">&nbsp;</td></tr>
<% end %>
</table>

