<style>
#staff_right p{width:98%;}
</style>
<span id="notice"><%= notice %></span>
<div id="staff_right" style="height:250;">
<%
medical = ClientMedical.find(:first, :conditions => [ "client_id = ?", @client.id ], :limit => 1)

if !medical.nil?
         today = Date.today
	 status = 'pending'
	 appointment = Appointment.find(:first, :conditions => [ "status = ? AND client_id = ? ",  status, @client.id])

	if appointment.nil?
%>
	<%= render 'appointment' %>
<% 
	else
	months = Time.now.to_date - medical.enrollment_date.to_date 
	months = months / 30
%>
	<p>
	  <b>Duration of drugs to be taken on previous visit (days):</b><br /><br />
          <%= appointment.duration %>
	</p>
	<p>
         <b>Next appointment scheduled for:</b><br /><br />
	 <%= appointment.due_date.to_date.to_s(:long) %>
	</p>
	<p>
         <b>Months on ART:</b><br /><br />
	 <%= months.to_i %>
	</p>
<%
	end
        regimen = medical.regimen
        cpt = medical.sulphur_allegy
else
%>
	<%= render 'medical' %>
<%
end
%>
</div>
<div id="staff_right" style="height:200;top:290;overflow:auto;">
<h2 style="font-size:22;">Previous appointments</h2>
<%
	status = 'done'
	Appointment.find(:all, :conditions => [ "status = ? AND client_id = ? ",  status, @client.id]).each do |doneApp|
%>
	<p><%= doneApp.due_date.to_date.to_s(:long) %></p>
<%		
	end
%>
</div>
<p>
  <b>Arv Number:</b>
  <%= @client.arv_number %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @client.dob.to_date.to_s(:long) %>
</p>

<p>
  <b>Gender:</b>
  <%= @client.gender %>
</p>

<p>
  <b>Education:</b>
  <%= @client.education %>
</p>

<p>
  <b>Occupation:</b>
  <%= @client.occupation %>
</p>

<p>
  <b>Marital status:</b>
  <%= @client.marital_status %>
</p>

<p>
  <b>Literacy level:</b>
  <%= @client.literacy_level %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>
<% if !medical.nil? %>
<p>
  <b>Regimen:</b>
  <%= regimen %>
</p>
<p>
 <b>Takes CPT:</b>
 <%= cpt %>
</p>
<% end %>
<p>
  <b>Agrees to study:</b>
  <%= @client.consent.to_s %>
</p>
