<style>
table tr th{width:350px;}
table tr td{width:350px;}
table tr th a{text-decoration:none;color:#000;}
</style>
<h1>Listing appointments</h1>
<table style="width:1000px">
  <tr style="background:#fff">
    <th>ARV Number</th>
    <th><a id="by_duedate" href="?by_duedate=true" 
    <% if !params[:by_duedate].nil? %>style="text-decoration:underline"<% end %>
    >Due date</a></th>
    <th>Created by</th>
  </tr>
<% if !params[:by_duedate].nil? 
	Appointment.find_by_sql(["SELECT * FROM `edi`.`appointments` ORDER BY `due_date` DESC "]).each do |appointment|
%>
  <tr>
    <% client = Client.find(appointment.client_id) %>
    <td><%= client.arv_number %></td>
    <td><%= appointment.due_date.to_date.to_s(:long) %></td>
    <td><%= appointment.created_by %></td>
  </tr>
<% 
  end
  else 
%>
<% @appointments.each do |appointment| %>
  <tr>
    <% client = Client.find(appointment.client_id) %>
    <td><%= client.arv_number %></td>
    <td><%= appointment.due_date.to_date.to_s(:long) %></td>
    <td><%= appointment.created_by %></td>
  </tr>
<% end %>
<% end %>
</table>


