<%= form_for(@client_medical) do |f| %>
  <% if @client_medical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_medical.errors.count, "error") %> prohibited this client_medical from being saved:</h2>

      <ul>
      <% @client_medical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :regimen %><br />
    <%= f.text_field :regimen %>
  </div>
  <div class="field">
    <%= f.label :sulphur_allegy %><br />
    <%= f.text_field :sulphur_allegy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
